h1 {
  color:#FFFF99;
  font-size:40px;
  background-color:#87CEFA;
  text-align:center;
}
#p1 {
  color:#00BFFF;
  font-size:55px;
  text-align:center;
  background-color: #FFFF99;
}

#p2{
  color:#FFFF99;
  font-size:30px;
  text-align:center;
  background-color: #87CEFA;
}

#p3{
  color:#00BFFF;
  font-size:30px;
  text-align:center;
  background-color:#b2ffb2;
}
.color{
  color:#DA70D6;
}

.big {
  height: 500px;
  width: 300px;
}

.little {
  height: 200px;
  width: 100px;
  padding-left:300px;
}

  img:hover {
  height: 500px;
  width: 300px;
  }
